# IntelliJ IDEA project files
.idea/
*.iml

# Ignore workspace and module settings files
discord.xml
misc.xml
modules.xml
uiDesigner.xml
vcs.xml
workspace.xml

# Ignore target and build directories
/target/
out/
build/

# Ignore dependency caches, logs, OS-specific files, and backups
.gradle/
.maven/
*.log
*.pid
*.seed
*.pid.lock
Thumbs.db
.env
*.key
*.pem
*.bak
*.tmp

# Ignore IDE-specific directories
.vscode/